aiven-client==4.5.1
asgiref==3.8.1
attrs==21.2.0
autokey==0.96.0
Automat==20.2.0
Babel==2.8.0
bcrypt==3.2.0
blinker==1.9.0
Brotli==1.1.0
certifi==2020.6.20
cffi==1.17.1
chardet==4.0.0
charset-normalizer==3.4.1
click==8.1.7
cloud-init==24.4
cloud-init-gen==1.2.0
cmake==3.31.4
colorama==0.4.4
command-not-found==0.3
configobj==5.0.6
constantly==15.1.0
cryptography==3.4.8
Cython==3.0.11
dbus-next==0.2.3
dbus-python==1.2.18
distlib==0.3.4
distro==1.7.0
distro-info==1.1+ubuntu0.2
dj-database-url==2.3.0
Django==5.1.3
django-cors-headers==4.3.1
django-environ==0.11.2
django-extensions==3.2.3
django-sendgrid-v5==1.2.4
django-sslserver==0.22
djangorestframework==3.14.0
environs==11.2.1
filelock==3.6.0
Flask==3.1.0
gunicorn==23.0.0
h11==0.14.0
httplib2==0.20.2
hyperlink==21.0.0
idna==3.10
importlib-metadata==4.6.4
incremental==21.3.0
itsdangerous==2.2.0
jeepney==0.7.1
Jinja2==3.1.4
jsonpatch==1.32
jsonpointer==2.0
jsonschema==3.2.0
keyring==23.5.0
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
Mako==1.1.3
Markdown==3.3.6
MarkupSafe==3.0.2
marshmallow==3.23.1
meson==0.61.2
more-itertools==8.10.0
netifaces==0.11.0
oauthlib==3.2.0
packaging==24.2
pkgconfig==1.5.5
platformdirs==2.5.1
psycopg==3.2.3
psycopg-pool==3.2.4
psycopg2==2.9.10
psycopg2-binary==2.9.9
pyasn1==0.4.8
pyasn1-modules==0.2.1
pycairo==1.27.0
pycparser==2.22
pycurl==7.44.1
Pygments==2.11.2
PyGObject==3.42.2
PyHamcrest==2.0.2
pyinotify==0.9.6
PyJWT==2.3.0
pyOpenSSL==21.0.0
pyparsing==2.4.7
pyrsistent==0.18.1
pyserial==3.5
python-apt==2.4.0+ubuntu4
python-decouple==3.8
python-dotenv==1.0.1
python-environ==0.4.54
python-http-client==3.3.7
python-xlib==0.33
pytz==2022.1
PyYAML==6.0
requests==2.32.3
requests-toolbelt==1.0.0
SecretStorage==3.3.1
sendgrid==6.11.0
sendgrid-django==4.2.0
service-identity==18.1.0
six==1.16.0
sqlparse==0.4.2
starkbank-ecdsa==2.2.0
systemd-python==234
Twisted==22.1.0
typing_extensions==4.9.0
ubuntu-pro-client==8001
ufw==0.36.1
unattended-upgrades==0.1
urllib3==1.26.5
uvicorn==0.32.1
virtualenv==20.16.2
wadllib==1.3.6
Werkzeug==3.1.3
whitenoise==6.8.2
zipp==1.0.0
zope.interface==5.4.0
