p {
    margin: -0.5rem 0; /* Add space above and below paragraphs */
    margin-right: 2rem;
    margin-left: 2rem;
    line-height: 1.6; /* Improve readability with increased line spacing */
    font-size: 18px !important; /* Default size for body text */
    color: #000000; /* Optional: Adjust paragraph text color */
  }

.writing-title{
    font-weight: bold;
  }
.writing-title:hover {
    transform: scale(1.05);
}

.writing-block {
    display: flex;
    flex-direction: column;
    background-color: #f0f7fc;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 15px;
    color: #000000;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
