.about-me {
    margin-right: 15rem !important;
    margin-left: 15rem !important;;
    font-size: 18px !important; /* Default size for body text */
}


.image-container {
    position: relative; /* Keep positioning flexible */
    max-width: 150%; /* Increase width by 50% */
    max-height: calc(100vh - 5rem); /* Adjust height to fit within the viewport */
    height: auto; /* Maintain aspect ratio */
    margin: -4rem auto 0; /* Center with smaller margin */
    opacity: 0.9; /* Keep slight transparency */
    pointer-events: none; /* Non-interactive */
    display: flex;
    justify-content: center;
    align-items: center; /* Center image */
  }
  
.about-image {
    width: 100%; /* Ensure responsiveness */
    max-width: 600px; /* Increase absolute maximum width by 50% */
    height: auto; /* Maintain aspect ratio */
    object-fit: contain; /* Prevent distortion */
    display: block; /* Ensure proper block-level behavior */
  }
  